:root {
    --main-bg-color: #1e1e1e;
    --secondary-bg-color: #505050;

    --text-color: white;

    --accent-color: #b68c58;
    --highlight-color: #e3e3e3;

    --scrollbar-track-color: var(--secondary-bg-color);
    --scrollbar-thumb-color: #d2d2d2;
    --scrollbar-thumb-hover-color: #b8b8b8;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: grid;
    grid-template-areas:
    "header header"
    "form tasks";
    grid-template-rows: 10vh 1fr;
    grid-template-columns: 300px 3fr;
    margin: 0;
    background-color: var(--main-bg-color);
    color: var(--text-color);
    max-height: 100vh;
    gap: 10px;
}

@media screen and (max-width: 600px) {
    body {
        grid-template-areas:
      "header"
      "form"
      "tasks";
        grid-template-rows: 10vh 1fr 3fr;
        grid-template-columns: 1fr;
    }
}

#header-container {
    display: flex;
    flex-direction: row;
    /*center*/
    align-items: center;
    grid-area: header;
    height: 10vh;
    margin-left: 20px;
}

#form-container {
    grid-area: form;
    margin: 0 0 10px 10px;
    background-color: var(--secondary-bg-color);
    padding: 10px;
    border-radius: 3px;
}

#createTaskForm {
    background-color: var(--main-bg-color);
    border-radius: 3px;
    padding: 10px;

    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
}

#tasks-container {
    background-color: var(--secondary-bg-color);
}

#tasks-container {
    grid-area: tasks;
    overflow-y: auto;
    border-radius: 3px;
    margin: 0 10px 10px 0;
}

form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

form label {
    grid-column: 1 / span 2;
}

form input,
form textarea,
form select {
    width: 100%;
}

form button {
    grid-column: 1;
}

.task,
.create_button {
    border-radius: 3px;
    padding: 10px;
    margin: 0 10px 10px 10px;
    background-color: var(--main-bg-color);
    color: var(--text-color);
    border: 1px solid var(--accent-color);
}

.task:first-child {
    margin-top: 10px;
}

.task p {
    margin: 5px 0;
}

.task .edit-button,
.task .delete-button,
.create_button {
    margin-right: 10px;
    color: var(--accent-color);
    background-color: var(--main-bg-color);
    border: 1px solid var(--accent-color);
    padding: 5px 10px;
    border-radius: 3px;
    transition: 0.2s ease-in-out;
}

.task .edit-button:hover,
.task .delete-button:hover,
.create_button:hover {
    background-color: var(--accent-color);
    color: var(--highlight-color);
    cursor: pointer;
}

.task-separator {
    margin: 10px 0;
    border: none;
    border-top: 1px dashed var(--text-color);
}

/* Scrollbar Styles */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--scrollbar-track-color);
}

::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb-color);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-thumb-hover-color);
}

#logo {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}
